.explore {
    flex: .5;
    height: 100vh;
    overflow: scroll;
    border-right: solid var(--border) 1px;
    display: flex;
    flex-direction: column;
}





@media screen and (max-width: 600px ) {
    .explore {
        flex: .8;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .explore {
        flex: .8;
    }
}