.exploreSearchbar {
    padding: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    padding-bottom: 1rem;
    z-index: 100;
    background-color: white;
    background-blend-mode: overlay;
}

.exploreSearchbar input {
    width: 90%;
    background-color: #EDF1F2;
}