@import "./Colors.css";

.middle {
    flex: .5;
    height: 100vh;
    overflow: scroll;
    border-right: solid var(--border) 1px;
    display: flex;
    flex-direction: column;

    
}

.middle::-webkit-scrollbar {
    display: none;
  }


@media screen and (max-width: 600px ) {
    .middle {
        flex: .8;
    }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
    .middle {
        flex: .5;
    }
}
